table{
    max-width: 95vw;
    margin: auto;
}

td{
    height: 10vh;
    width: 10vh;
    text-align: center;
}

caption {
    text-align: center;
    line-height: 10vh;
    font-size: xxx-large;
    background-color: yellow;
}

table, td, caption {
    border: 1px solid red;
    border-collapse: collapse;
}

.empty {
    border: none;
}